@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-size: 16px;
    color: #2a2a2a;
}

* {
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

.color-1 {
    color: #F17A7E;
}

.color-2 {
    color: #FFC94A;
}

.bg-1 {
    background-color: #F17A7E;
}

.bg-reverse-1 {
    border-color: #F17A7E;
    color: #F17A7E;
    border-style: solid;
    border-width: 1px;
}

.bg-reverse-1:hover {
    background-color: #F17A7E;
    color: white;
}

.btn.bg-1:hover {
    color: #F17A7E !important;
    border-color: #F17A7E !important;
}

.bg-2 {
    background-color: #FFC94A;
}

.btn.bg-2:hover {
    color: #FFC94A !important;
    border-color: #FFC94A !important;
}

.bc-1 {
    border-color: #F17A7E !important;
}

.bc-2 {
    border-color: #FFC94A !important;
}

.navbar {
    transition: 0.5s;
}

.navbar.sticky {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 2;
}

.logo-wrapper {
    width: 25%;
}

._nav-item {
    display: flex;
    align-items: center;
}

.nav-item-menu,
.nav-item-menu button {
    font-weight: 500;
}

.nav-item-sp {
    display: none;
    font-size: 25px;
}

.nav-item-menu-sp {
    transition: 0.5s;
    position: fixed;
    width: 100%;
    background-color: #FAF9F7;
    right: -100vw;
    top: 0;
    height: 100vh;
    z-index: 3;
}

.nav-item-menu-sp.show {
    right: 0;
 }

 .nav-item-sp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
 }

 .nav-item-sp-wrapper span {
    position: absolute;
    top: 0;
    left: 0;    
    font-size: 2.5em;
    padding: 5px;

}

.nav-item-sp-wrapper .logo-wrapper {
    width: 50%;
}

.sp_show {
    overflow: hidden;
}

.banner {
    position: relative;
}

.banner-arrow {
    position: absolute;
    left: 50%;
    bottom: 0.5em;
    transform: translateX(-50%);
    z-index: 1;
}

.banner-arrow a{
    font-size: 35px;
    color: #F17A7E;
}

section {
    overflow: hidden;
}

.publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link,
.publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover
 {
    background-color: unset;
    color: inherit;
    border-color: #FFC94A;
}

.publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: inherit;
    background-color: #FFC94A;  
    border-color: #FFC94A; 
}

.card-item {
    width: calc(100%/4 - 5px);
    transition: 0.2s;
}

.card-item:hover {
    padding: 0 !important;
}

.card-item:hover .card-item-wrapper{
    border-color: #F17A7E !important;
}

.card-item:hover .card-header{
    background: #F17A7E;
    color: white;
}

.writer-wrapper .card-item:hover .card-item-wrapper{
    border-color: #FFC94A !important;
}

.writer-wrapper .card-item:hover .card-header{
    background: #FFC94A;
    color: inherit !important;
}

.card-item-wrapper {
    background: #FAF9F7;
    border-width: 1px;
    border-style: solid;
    line-height: 1.5;
}

.card-item-body li {
    padding: 5px;
}

.writer-wrapper .card-item {
    width: calc(100%/3 - 5px);
}

#table_full_color,
#table_black_white
{
    border-color: #FFC94A;
    border-width: 1px;
    border-style: solid;
}

#table_full_color thead tr th,
#table_black_white thead tr th,
#table_pr thead tr th
{
    padding: 1.5em;
}

#table_full_color tbody tr td,
#table_black_white tbody tr td,
#table_pr tbody tr td
{
    padding: 1.5em;
}

/* #table_pr {
    border-color: #F17A7E;
    border-width: 1px;
    border-style: solid;
} */

.pop-contact-wrapper {
    bottom: 20px;
    right: 24px;
}

.pop-contact {
    height: 60px;
    width: 60px;
    font-size: 25px;
} 

.reserved {
    background: #182229;
    color: white;
    font-size: x-small;
    padding: 1em;
}

/* .pop-contact span {
    transform: rotate(-20deg);
} */

#exampleModal .btn-close {
    top: 1em;
    right: 1em;
}

#exampleModal .modal-body input {
    width: 78%;
}

#exampleModal .modal-body button {
    width: 20%;
}


@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1016px;
    }
}

@media only screen and (max-width: 1024px) {
    .banner-arrow {
        display: none;
    }
    .banner-txt.p-3 {
        padding: 2em !important;
    }
}

@media only screen and (max-width: 991px) {
    .nav-item-sp {
        display: block;
    }

    .nav-item-menu {
        display: none !important;
    }

    footer .navbar {
        padding: 2em;
    }

    footer .navbar>.container {
        flex-wrap: wrap;
    }

    footer .nav-item-menu {
        width: 100%;
        display: unset !important;
    }

    footer .nav-item-menu ul{
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    footer .nav-item-menu li{
        width: 100%;
    }
    
    footer ._nav-item {
        width: 100% !important;
        justify-content: center;
    }
}

@media only screen and (max-width: 991px) and (min-width: 601px) {
    button.w-50 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar>.container {
        flex-wrap: unset;
    }

    section .header.pb-2 {
        padding-bottom: 1em !important;
    }

    section .p-5 {
        padding: 2em 1em 2em 1em !important;
    }

    .card-item {
        width: 100%;
    }

    .writer-wrapper .card-item {
        width: 100%;
    }

    section .w-50 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .p-4 {
        padding: 1em 0 0 0 !important;
    }

    .publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        padding: 1em !important;
    }

    #exampleModal .modal-body input {
        width: 100%;
        margin-bottom: 1em;
    }
    
    #exampleModal .modal-body button {
        width: 100%;
    }
}


