@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-size: 16px;
    color: #2a2a2a;
}

* {
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

.color-1 {
    color: #F17A7E;
}

.color-2 {
    color: #FFC94A;
}

.bg-1 {
    background-color: #F17A7E;
}

.btn.bg-1:hover {
    color: #F17A7E !important;
    border-color: #F17A7E !important;
}

.bg-2 {
    background-color: #FFC94A;
}

.btn.bg-2:hover {
    color: #FFC94A !important;
    border-color: #FFC94A !important;
}


.bc-1 {
    border-color: #F17A7E !important;
}

.bc-2 {
    border-color: #FFC94A !important;
}

.logo-wrapper {
    width: 20%;
}

._nav-item .active {
    font-weight: 600;
}

.publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link,
.publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover
 {
    background-color: unset;
    color: inherit;
    border-color: #FFC94A;
}

.publishing_packages .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: inherit;
    background-color: #FFC94A;  
    border-color: #FFC94A; 
}

#table_full_color,
#table_black_white
{
    border-color: #FFC94A;
    border-width: 1px;
    border-style: solid;
}

#table_full_color thead tr th,
#table_black_white thead tr th,
#table_pr thead tr th
{
    padding: 1.5em;
}

#table_full_color tbody tr td,
#table_black_white tbody tr td,
#table_pr tbody tr td
{
    padding: 1.5em;
}

#table_pr {
    border-color: #F17A7E;
    border-width: 1px;
    border-style: solid;
}

.pop-contact-wrapper {
    bottom: 20px;
    right: 24px;
}

.pop-contact {
    height: 60px;
    width: 60px;
    font-size: 25px;
} 



